<p id="notice"><%= notice %></p>

<h1>Goobi Xml Imports</h1>

<table>
  <thead>
    <tr>
      <th>Created</th>
      <th>ID</th>
      <th>Length</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goobi_xml_imports.each do |goobi_xml_import| %>
      <tr>
        <td><%= goobi_xml_import.created_at %></td>
        <td><%= goobi_xml_import.id %></td>
        <td><%= goobi_xml_import.goobi_xml.length %></td>
        <td><%= link_to 'Show', goobi_xml_import %></td>
        <td><%= link_to 'Edit', edit_goobi_xml_import_path(goobi_xml_import) %></td>
        <td><%= link_to 'Destroy', goobi_xml_import, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goobi Xml Import', new_goobi_xml_import_path %>
