<p id="notice"><%= notice %></p>

<h1>METS Xml Imports</h1>

<table>
  <thead>
    <tr>
      <th>Created</th>
      <th>ID</th>
      <th>Length</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mets_xml_imports.each do |mets_xml_import| %>
      <tr>
        <td><%= mets_xml_import.created_at %></td>
        <td><%= mets_xml_import.id %></td>
        <td><%= mets_xml_import.mets_xml.length %></td>
        <td><%= link_to 'Show', mets_xml_import %></td>
        <td><%= link_to 'Edit', edit_mets_xml_import_path(mets_xml_import) %></td>
        <td><%= link_to 'Destroy', mets_xml_import, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New METS Xml Import', new_mets_xml_import_path %>
