<p id="notice"><%= notice %></p>

<h1>Child Objects</h1>


<table class="table table-responsive table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Oid</th>
      <th>Caption</th>
      <th>Width</th>
      <th>Height</th>
      <th>Order</th>
      <th>Parent object</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @child_objects.each do |child_object| %>
      <tr>
        <td><%= child_object.oid %></td>
        <td><%= child_object.caption %></td>
        <td><%= child_object.width %></td>
        <td><%= child_object.height %></td>
        <td><%= child_object.order %></td>
        <td><%= child_object.parent_object_oid %></td>
        <td><%= link_to 'Show', child_object %></td>
        <% if can? :edit, child_object %>
          <td><%= link_to 'Edit', edit_child_object_path(child_object) %></td>
          <td><%= link_to 'Destroy', child_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @child_objects %>

