<p id="notice"><%= notice %></p>

<p>
  <strong>Oid:</strong>
  <%= @child_object.oid %>
</p>

<p>
  <strong>Label:</strong>
  <%= @child_object.label %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @child_object.caption %>
</p>

<p>
  <strong>Width:</strong>
  <%= @child_object.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @child_object.height %>
</p>

<p>
  <strong>Order:</strong>
  <%= @child_object.order %>
</p>

<p>
  <strong>Viewing hint:</strong>
  <%= @child_object.viewing_hint %>
</p>

<p>
  <strong>Parent object:</strong>
  <%= link_to "#{@child_object.parent_object_oid}", "#{parent_object_path(@child_object.parent_object_oid)}" %>
</p>

<p>
  <strong>Full text:</strong>
  <%= @child_object.full_text ? "Yes" : "No" %>
</p>

<% if @child_object.full_text %>
<p>
  <strong>Download full text:</strong>
  <%= link_to 'Click to Download', S3Service.presigned_url(@child_object.remote_ocr_path, 600, ENV["OCR_DOWNLOAD_BUCKET"] ) %>
</p>
<% end %>

<p>
  <strong>PTiff Download:</strong>
  <%= link_to 'Click to Download', S3Service.presigned_url(@child_object.remote_ptiff_path, 600) %>
</p>

<p>
  <strong>Image:</strong><br />
  <%= image_tag @child_object.thumbnail_url %>
</p>


<% if can? :edit, @child_object %>
  <%= link_to 'Edit', edit_child_object_path(@child_object) %> |
<% end %>
<%= link_to "Parent: #{@child_object.parent_object_oid}", "#{parent_object_path(@child_object.parent_object_oid)}" %>
