<p id="notice"><%= notice %></p>

<p>
  <strong>Oid:</strong>
  <%= @child_object.oid %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @child_object.caption %>
</p>

<p>
  <strong>Label:</strong>
  <%= @child_object.label %>
</p>

<p>
  <strong>Width:</strong>
  <%= @child_object.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @child_object.height %>
</p>

<p>
  <strong>Order:</strong>
  <%= @child_object.order %>
</p>

<p>
  <strong>Parent object:</strong>
  <%= link_to "#{@child_object.parent_object_oid}", "#{parent_object_path(@child_object.parent_object_oid)}" %>
</p>

<p>
  <strong>Access Master Download:</strong>
  <%= link_to 'Click to Download', S3Service.presigned_url(@child_object.remote_access_master_path, 600) %>
</p>

<p>
  <strong>PTiff Download:</strong>
  <%= link_to 'Click to Download', S3Service.presigned_url(@child_object.remote_ptiff_path, 600) %>
</p>

<p>
  <strong>Image:</strong><br />
  <%= image_tag @child_object.thumbnail_url %>
</p>

<%= link_to 'Edit', edit_child_object_path(@child_object) %> |
<%= link_to 'All Child Objects', child_objects_path %> |
<%= link_to "Parent: #{@child_object.parent_object_oid}", "#{parent_object_path(@child_object.parent_object_oid)}" %>
