<%= form_with(model: parent_object, local: true, class: 'parent-edit') do |form| %>
  <% if parent_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parent_object.errors.count, "error") %> prohibited this parent_object from being saved:</h2>

      <ul>
        <% parent_object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
    <div class="col-med-3">
      <%= form.label :oid %>
      <%= self.action_name == "edit" ? form.text_field(:oid, disabled: true) : form.text_field(:oid, readonly: !(current_user&.sysadmin) ) %>
    </div>

    <div class="col-med-3">
      <%= form.label "Set" %>
      <%= form.select(:admin_set,
                  AdminSet.all.map { |admin_set|
                    [admin_set.label, admin_set.key]
                  } << ["None",nil],
                  selected: parent_object.admin_set&.key || ["None", nil],
                  required: true
          )
       %>
    </div>

    <div class="col-med-9">
      <%= form.label :project_identifier, "Project ID" %>
      <%= form.text_field :project_identifier %>
    </div>

  </div>
  <br>

  <% if parent_object.redirect_to || parent_object.child_object_ids.count < 1 && !parent_object.new_record? %>
    <div class="form-row">
      <div class="col-med-9">
        <%= form.label :redirect_to %>
        <%= form.text_field :redirect_to %>
      </div>
    </div>
    <br>
  <% end %>

  <div class="form-row">
    <div class="col-med-3">
      <%= form.label "Metadata Source" %>
      <%= form.select(:authoritative_metadata_source_id, [['Ladybird', 1], ['Voyager', 2], ['ArchiveSpace', 3]]) %>
    </div>

    <div class="col-med-3">
      <%= form.label :visibility %>
      <%= form.select(:visibility, ParentObject.visibilities) %>
    </div>
  </div>
  <br>

  <div class="form-row">
    <div class="col-med-9">
      <%= form.label :rights_statement %>
      <%= form.text_area :rights_statement %>
    </div>
  </div>
  <br>

  <div class="form-row">
    <div class="col-med-9">
      <%= form.label :extent_of_digitization %>
      <%= form.select(:extent_of_digitization, ParentObject.extent_of_digitizations) %>
    </div>
  </div>
  <br>

  <div class="form-row">
    <div class="col-med-9">
      <%= form.label :digitization_note %>
      <%= form.text_field :digitization_note %>
    </div>
  </div>
  <br>

  <div class="form-row">
    <div class="col-med-9">
      <%= form.label :digitization_funding_source %>
      <%= form.text_field :digitization_funding_source %>
    </div>
  </div>
  <br>


  <h6 class="form-subgroup-title">Voyager identifiers</h6>
  <div class="voyager_identifiers, form-row">
    <div class="col-med-3">
      <%= form.label :bib %>
      <%= form.text_field :bib %>
    </div>

    <div class="col-med-3">
      <%= form.label "Holding (optional)" %>
      <%= form.text_field :holding %>
    </div>

    <div class="col-med-3">
      <%= form.label "Item (optional)" %>
      <%= form.text_field :item %>
    </div>
  </div>

  <br>
  <h6 class="form-subgroup-title">Other identifiers</h6>
  <div class="other_identifiers, form-row">
    <div class="col-med-3">
      <%= form.label :barcode %>
      <%= form.text_field :barcode %>
    </div>

    <div class="col-med-3">
      <%= form.label "ASpace URI"%>
      <%= form.text_field :aspace_uri %>
    </div>
  </div>

  <br>
  <h6 class="form-subgroup-title">Digital Object Identifiers</h6>
  <div class="digital_object_identifiers, form-row">
    <div class="col-med-3">
      <%= form.label :digital_object_source %>
      <%= form.select(:digital_object_source, ['None', 'Preservica'], {}, style: "width:178px;" ) %>
    </div>

    <div class="col-med-3">
      <%= form.label :preservica_uri %>
      <%= form.text_field :preservica_uri %>
    </div>
  </div>
  <br>

  <h6 class="form-subgroup-title">IIIF Values</h6>
  <div class="other_identifiers, form-row">
    <div class="col-med-3">
      <%= form.label :viewing_direction %>
      <%= link_to("IIIF viewing direction details", "https://iiif.io/api/presentation/2.1/#viewingdirection") %><br>
      <%= form.select(:viewing_direction, ParentObject.viewing_directions) %>
    </div>

    <div class="col-med-3">
      <%= form.label :display_layout %>
      <%= link_to("IIIF viewing hints details", "https://iiif.io/api/presentation/2.1/#viewinghint") %><br>
      <%= form.select(:display_layout, ParentObject.viewing_hints) %>
    </div>
  </div>
  <br>
  <div class="actions" id="submit-parent">
    <%= form.submit(@parent_object.new_record? ? 'Create Parent object' : 'Save Parent Object And Update Metadata') %>
  </div>
<% end %>
