<%= form_with(model: parent_object, local: true) do |form| %>
  <% if parent_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parent_object.errors.count, "error") %> prohibited this parent_object from being saved:</h2>

      <ul>
        <% parent_object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :oid %>
    <%= form.text_field :oid %>
  </div>

  <div class="field">
    <%= form.label :bib %>
    <%= form.text_field :bib %>
  </div>

  <div class="field">
    <%= form.label :holding %>
    <%= form.text_field :holding %>
  </div>

  <div class="field">
    <%= form.label :item %>
    <%= form.text_field :item %>
  </div>

  <div class="field">
    <%= form.label :barcode %>
    <%= form.text_field :barcode %>
  </div>

  <div class="field">
    <%= form.label :aspace_uri %>
    <%= form.text_field :aspace_uri %>
  </div>

  <div class="field">
    <%= form.label :last_ladybird_update %>
    <%= form.text_field :last_ladybird_update %>
  </div>

  <div class="field">
    <%= form.label :last_voyager_update %>
    <%= form.text_field :last_voyager_update %>
  </div>

  <div class="field">
    <%= form.label :last_aspace_update %>
    <%= form.text_field :last_aspace_update %>
  </div>

  <div class="field">
    <%= form.label :visibility %>
    <%= form.text_field :visibility %>
  </div>

  <div class="field">
    <%= form.label :last_id_update %>
    <%= form.text_field :last_id_update %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
