<p id='notice'><%= notice %></p>
<div class='row datatable-heading'>
  <div class='col'>
    <h1>Parent Objects</h1>
  </div>
  <div class='col'>
    <div class='float-right button-list'>
      <%= button_to 'Reindex', reindex_parent_objects_path, method: 'post', class: 'btn button secondary-button', id: 'reindex',
        data: { confirm: 'Are you sure you want to proceed? This action will reindex the entire contents of the system.' },
        disabled: !(can? :reindex_all, ParentObject)
      %>
      <%= button_to 'New Parent', new_parent_object_path, method: 'get', class: 'btn button secondary-button',
                    id: 'new_parent',
                    disabled: !(can? :create_new, ParentObject)
      %>
    </div>
  </div>
</div>
<div class='row datatable'>
  <div class='col overflow-auto'>
    <table id='parent-objects-datatable' class='is-datatable table table-responsive table-bordered table-striped' aria-label='Parent Objects' data-source='<%= parent_objects_path(format: :json) %>'>
      <thead class='table-head'>
        <tr>
          <th scope='col'>OID</th>
          <th scope='col'>Admin Set</th>
          <th scope='col'>Source</th>
          <th scope='col'>Child Object Count</th>
          <th scope='col'>Call Number</th>
          <th scope='col'>Container Grouping</th>
          <th scope='col'>Bib</th>
          <th scope='col'>Holding</th>
          <th scope='col'>Item</th>
          <th scope='col'>Barcode</th>
          <th scope='col'>Aspace URI</th>
          <th scope='col'>Digital Object Source</th>
          <th scope='col'>Preservica URI</th>
          <th scope='col'>Last Ladybird Update</th>
          <th scope='col'>Last Voyager Update</th>
          <th scope='col'>Last Aspace Update</th>
          <th scope='col'>Last ID Update</th>
          <th scope='col'>Visibility</th>
          <th scope='col'>Extent of Digitization</th>
          <th scope='col'>Digitization Note</th>
          <th scope='col'>Project Identifier</th>
        </tr>
      </thead>
      <tbody class='datatable-body'>
      </tbody>
    </table>
  </div>
</div>

<div id='parent-objects-data' class='d-none datatable-data'>
  <%= ParentObjectDatatable.new(nil).view_columns.map {|key, value| {data: key, orderable: value[:orderable], searchable: value[:searchable], options: value[:options]} }.to_json %>
</div>
