<p id="notice"><%= notice %></p>
<div class='row'>
  <div class='col'>
    <h1>Parent Objects</h1>
  </div>
  <div class='col'>
    <div class='float-right'>
      <%= link_to 'New Parent Object', new_parent_object_path, class: 'btn btn-primary' %>
      <%= link_to 'Reindex', reindex_parent_objects_path, method: 'post', class: 'btn btn-secondary' %>
      <%= link_to 'Update Metadata', all_metadata_parent_objects_path, method: 'post', class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
<div class='row'>
  <div class='col overflow-auto'>
    <table id="parent-objects-datatable" data-turbolinks="false" class="table table-responsive table-bordered table-striped" data-source="<%= parent_objects_path(format: :json) %>">
      <thead  class="thead-dark">
        <tr>
          <th scope="col">Oid</th>
          <th scope="col">Authoritative Source</th>
          <th scope="col">Bib</th>
          <th scope="col">Holding</th>
          <th scope="col">Item</th>
          <th scope="col">Barcode</th>
          <th scope="col">Aspace uri</th>
          <th scope="col">Last ladybird update</th>
          <th scope="col">Last voyager update</th>
          <th scope="col">Last aspace update</th>
          <th scope="col">Last id update</th>
          <th scope="col">Visibility</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<div id="parent-objects-data" class='d-none'>
  <%= ParentObjectDatatable.new(nil).view_columns.keys.map {|key| {data: key} }.to_json %>
</div>
