<p id="notice"><%= notice %></p>

<div class='metadata-block'>
  <h1>Oid:</h1>
  <p><%= @parent_object.oid %></p>
</div>

<div class='metadata-block'>
  <h1>Set:</h1>
  <p><%= @parent_object.admin_set&.label %></p>
</div>

<div class='metadata-block'>
  <h1>Project ID:</h1>
  <p><%= @parent_object&.project_identifier %></p>
</div>


<% if @parent_object&.redirect_to.present? %>
  <div class='metadata-block'>
    <h1>Redirected To:</h1>
    <p><%= @parent_object&.redirect_to %></p>
  </div>
<% end %>

<div class='metadata-block'>
  <h1>Authoritative Metadata source:</h1>
  <p><%= @parent_object.authoritative_metadata_source.display_name %></p>
</div>

<% if can? :update, @parent_object %>
  <div class='update-item-container metadata-block'>
    <h1>Update Metadata for this Object:</h1><br>
    <p>Update the metadata for this object from the authoritative metadata source.</p>
    <div>
      <p>
        <%= link_to 'Update this item', update_metadata_parent_object_path(@parent_object), method: :post, class: 'btn button update-item-button' %>
      </p>
    </div>
  </div>
<% end %>

<% if @parent_object&.metadata_cloud_url.present? %>
  <div class='metadata-block'>
    <h1>MetadataCloud url:</h1><br>
    <p><%= link_to "#{@parent_object.metadata_cloud_url}", "#{@parent_object.metadata_cloud_url}" %></p>
  </div>
<% end %>

<div class='metadata-block'>
  <h1>Call Number:</h1>
  <p><%= @parent_object.call_number %></p>
</div>

<div class='metadata-block'>
  <h1>Container Grouping:</h1>
  <p><%= @parent_object.container_grouping %></p>
</div>

<div class='metadata-block'>
  <h1>Bib:</h1>
  <p><%= @parent_object.bib %></p>
</div>

<div class='metadata-block'>
  <h1>Holding:</h1>
  <p><%= @parent_object.holding %></p>
</div>

<div class='metadata-block'>
  <h1>Item:</h1>
  <p><%= @parent_object.item %></p>
</div>

<div class='metadata-block'>
  <h1>Barcode:</h1>
  <p><%= @parent_object.barcode %></p>
</div>

<div class='metadata-block'>
  <h1>Aspace uri:</h1>
  <p><%= @parent_object.aspace_uri %></p>
</div>

<div class='metadata-block'>
  <h1>Digital Object Source:</h1>
  <p><%= @parent_object.digital_object_source %></p>
</div>

<div class='metadata-block'>
  <h1>Preservica URI:</h1>
  <p><%= @parent_object.preservica_uri %></p>
</div>

<div class='metadata-block'>
  <h1>Preservica Representation Name:</h1>
  <p><%= @parent_object.preservica_representation_name %></p>
</div>

<div class='metadata-block'>
  <h1>Last ladybird update:</h1>
  <p><%= @parent_object.last_ladybird_update %></p>
</div>

<div class='metadata-block'>
  <h1>Last voyager update:</h1>
  <p><%= @parent_object.last_voyager_update %></p>
</div>

<div class='metadata-block'>
  <h1>Last aspace update:</h1>
  <p><%= @parent_object.last_aspace_update %></p>
</div>

<div class='metadata-block'>
  <h1>Visibility:</h1>
  <p><%= @parent_object.visibility %></p>
</div>

<div class='metadata-block'>
  <h1>Rights Statement:</h1>
  <p><div class='rights-statement'><%= sanitize @parent_object.rights_statement, tags: %w(a), attributes: %w(href) %></div></p>
</div>

<div class='metadata-block'>
  <h1>Extent of Digitization:</h1>
  <p><%= @parent_object.extent_of_digitization %></p>
</div>

<div class='metadata-block'>
  <h1>Digitization Note:</h1>
  <p><%= @parent_object.digitization_note %></p>
</div>

<div class='metadata-block'>
  <h1>Viewing Direction:</h1>
  <p><%= @parent_object.viewing_direction %></p>
</div>

<div class='metadata-block'>
  <h1>Full Text Available:</h1>
  <p><%= @parent_object.extent_of_full_text %></p>
</div>

<div class='metadata-block'>
  <h1>Display Layout / Viewing Hint:</h1>
  <p><%= @parent_object.display_layout %></p>
</div>

<div class='metadata-block'>
  <h1>Child Count:</h1>
  <p><%= @parent_object.child_object_ids.count %></p>
</div>

<div class="child-objects metadata-block">
  <h1>Children:</h1>
  <div class="child-list">
    <ol>
      <% @parent_object.child_objects.map do |child| %>
        <p><li><%= link_to( "#{child.label || 'no label'} / #{child.caption || 'no caption'} (#{child.width}, #{child.height})", "#{child_objects_path}/#{child.oid}") %></li></p>
      <% end %>
    </ol>
  </div>
</div>

<% if @parent_object.representative_child %>
  <div class='metadata-block'>
    <h1>Representative thumbnail:</h1><br>
    <%= image_tag @parent_object.representative_child.thumbnail_url %>
  </div>
<% end %>

<div class='metadata-block'>
  <p><%= link_to("Select different representative thumbnail", select_thumbnail_parent_object_path) %><br><br></p>
</div>

<p class='show-header'>
  <strong>Authoritative JSON:</strong>
  <%= render 'authoritative_json', parent_object: @parent_object %>
</p>

<p class='show-header'>
  <strong>Solr Record:</strong>
  <%= render 'solr_document', parent_object: @parent_object %>
</p>

<% if can? :destroy, @parent_object %>
  <div class='delete-item-container'>
    <div>
      <p class='delete-item-label'>Delete this Item</p>
      <p>Permanently delete this item and its children.</p>
    </div>
    <div>
      <%= link_to 'Delete this item', parent_object_path(@parent_object), method: :delete, data: { confirm: 'Are you sure you want to delete this item and its children?' }, class: 'btn button delete-item-button' %>
    </div>
  </div>
<% end %>
<% if can? :edit, @parent_object %>
  <%= link_to 'Edit', edit_parent_object_path(@parent_object) %> |
<% end %>
<%= link_to 'Solr Document', solr_document_parent_object_path("#{@parent_object.oid}"), target: '_blank' %> |
<%= link_to 'Public View', @parent_object.dl_show_url, target: '_blank' %> |
<%= link_to 'Back', parent_objects_path %>
