<p id="notice"><%= notice %></p>

<p>
  <strong>Oid:</strong>
  <%= @parent_object.oid %>
</p>

<p>
  <strong>Bib:</strong>
  <%= @parent_object.bib %>
</p>

<p>
  <strong>Holding:</strong>
  <%= @parent_object.holding %>
</p>

<p>
  <strong>Item:</strong>
  <%= @parent_object.item %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @parent_object.barcode %>
</p>

<p>
  <strong>Aspace uri:</strong>
  <%= @parent_object.aspace_uri %>
</p>

<p>
  <strong>Last ladybird update:</strong>
  <%= @parent_object.last_ladybird_update %>
</p>

<p>
  <strong>Last voyager update:</strong>
  <%= @parent_object.last_voyager_update %>
</p>

<p>
  <strong>Last aspace update:</strong>
  <%= @parent_object.last_aspace_update %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @parent_object.visibility %>
</p>

<p>
  <strong>Viewing Direction:</strong>
  <%= @parent_object.viewing_direction %>
</p>

<p>
  <strong>Display Layout / Viewing Hint:</strong>
  <%= @parent_object.display_layout %>
</p>

<p>
  <strong>Last id update:</strong>
  <%= @parent_object.last_id_update %>
</p>

<p>
  <strong>Authoritative Metadata source:</strong>
  <%= @parent_object.authoritative_metadata_source.display_name %>
</p>

<p>
  <strong>Child Count:</strong>
  <%= @parent_object.child_object_ids.count %>
</p>

<div class="child-objects">
  <strong>Children:</strong>
    <div class="child-list">
      <ol>
        <% @parent_object.child_objects.map do |child| %>
          <li><%= link_to( "#{child.label || 'no label'} /  #{child.caption || 'no caption'} (#{child.width}, #{child.height})", "#{child_objects_path}/#{child.oid}") %></li>
        <% end %>
      </ol>
    </div>
</div>

<% if @parent_object.representative_child %>
  <p>
    <strong>Representative thumbnail:</strong><br>
    <%= image_tag @parent_object.representative_child.thumbnail_url %>
  </p>
  <%= link_to("Select different representative thumbnail", show_children_parent_object_path) %>
<% end %>

<p>
  <strong>Authoritative JSON:</strong>
  <%= render 'authoritative_json', parent_object: @parent_object %>
</p>

<p>
    <strong>Solr Record:</strong>
    <%= render 'solr_document', parent_object: @parent_object %>
</p>

<%= link_to 'Edit', edit_parent_object_path(@parent_object) %> |
<%= link_to 'Back', parent_objects_path %>
