<p id="notice"><%= notice %></p>

<p>
  <strong>Oid:</strong>
  <%= @parent_object.oid %>
</p>

<p>
  <strong>Set:</strong>
  <%= @parent_object.admin_set&.label %>
</p>

<p>
  <strong>Project ID:</strong>
  <%= @parent_object&.project_identifier %>
</p>

<p>
  <strong>MetadataCloud url:</strong><br>
  <small>Note: add "&mediaType=json" or "?mediaType=json" to open in your browser</small><br>
  <%= link_to "#{@parent_object.metadata_cloud_url}", "#{@parent_object.metadata_cloud_url}" %>
</p>

<p>
  <strong>Call Number:</strong>
  <%= @parent_object.call_number %>
</p>

<p>
  <strong>Container Grouping:</strong>
  <%= @parent_object.container_grouping %>
</p>

<p>
  <strong>Bib:</strong>
  <%= @parent_object.bib %>
</p>

<p>
  <strong>Holding:</strong>
  <%= @parent_object.holding %>
</p>

<p>
  <strong>Item:</strong>
  <%= @parent_object.item %>
</p>

<p>
  <strong>Barcode:</strong>
  <%= @parent_object.barcode %>
</p>

<p>
  <strong>Aspace uri:</strong>
  <%= @parent_object.aspace_uri %>
</p>

<p>
  <strong>Last ladybird update:</strong>
  <%= @parent_object.last_ladybird_update %>
</p>

<p>
  <strong>Last voyager update:</strong>
  <%= @parent_object.last_voyager_update %>
</p>

<p>
  <strong>Last aspace update:</strong>
  <%= @parent_object.last_aspace_update %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @parent_object.visibility %>
</p>

<p>
  <strong>Rights Statement:</strong>
  <div class='rights-statement'><%= sanitize @parent_object.rights_statement, tags: %w(a), attributes: %w(href) %></div>
</p>

<p>
  <strong>Project ID:</strong>
  <%= @parent_object.project_identifier %>
</p>

<p>
  <strong>Extent of Digitization:</strong>
  <%= @parent_object.extent_of_digitization %>
</p>

<p>
  <strong>Digitization Note:</strong>
  <%= @parent_object.digitization_note %>
</p>

<p>
  <strong>Viewing Direction:</strong>
  <%= @parent_object.viewing_direction %>
</p>

<p>
  <strong>Full Text Available:</strong>
  <%= @parent_object.extent_of_full_text %>
</p>

<p>
  <strong>Display Layout / Viewing Hint:</strong>
  <%= @parent_object.display_layout %>
</p>

<p>
  <strong>Authoritative Metadata source:</strong>
  <%= @parent_object.authoritative_metadata_source.display_name %>
</p>

<% if can? :update, @parent_object %>
  <div class='update-item-container'>
    <p>
      <strong>Update Metadata for this Object:</strong><br>
      <small>Update the metadata for this object from the authoritative metadata source.</small>
    </p>
    <div>
      <%= link_to 'Update this item', update_metadata_parent_object_path(@parent_object), method: :post, class: 'btn button update-item-button' %>
    </div>
  </div>
<% end %>

<p>
  <strong>Child Count:</strong>
  <%= @parent_object.child_object_ids.count %>
</p>

<div class="child-objects">
  <strong>Children:</strong>
    <div class="child-list">
      <ol>
        <% @parent_object.child_objects.map do |child| %>
          <li><%= link_to( "#{child.label || 'no label'} / #{child.caption || 'no caption'} (#{child.width}, #{child.height})", "#{child_objects_path}/#{child.oid}") %></li>
        <% end %>
      </ol>
    </div>
</div>

<% if @parent_object.representative_child %>
  <p>
    <strong>Representative thumbnail:</strong><br>
    <%= image_tag @parent_object.representative_child.thumbnail_url %>
  </p>
<% end %>
<%= link_to("Select different representative thumbnail", select_thumbnail_parent_object_path) %><br><br>
<p>
  <strong>Authoritative JSON:</strong>
  <%= render 'authoritative_json', parent_object: @parent_object %>
</p>

<p>
  <strong>Solr Record:</strong>
  <%= render 'solr_document', parent_object: @parent_object %>
</p>

<% if can? :destroy, @parent_object %>
  <div class='delete-item-container'>
    <div>
      <p class='delete-item-label'>Delete this Item</p>
      <p>Permanently delete this item and its children.</p>
    </div>
    <div>
      <%= link_to 'Delete this item', parent_object_path(@parent_object), method: :delete, data: { confirm: 'Are you sure you want to delete this item and its children?' }, class: 'btn button delete-item-button' %>
    </div>
  </div>
<% end %>
<% if can? :edit, @parent_object %>
  <%= link_to 'Edit', edit_parent_object_path(@parent_object) %> |
<% end %>
<%= link_to 'Solr Document', solr_document_parent_object_path("#{@parent_object.oid}"), target: '_blank' %> |
<%= link_to 'Public View', @parent_object.dl_show_url, target: '_blank' %> |
<%= link_to 'Back', parent_objects_path %>
