<p id="notice"><%= notice %></p>

<dl class='metadata-block'>
  <dt>Oid:</dt>
  <dd><%= @parent_object.oid %></dd>

  <dt>Set:</dt>
  <dd><%= @parent_object.admin_set&.label %></dd>

  <dt>Project ID:</dt>
  <dd><%= @parent_object&.project_identifier %></dd>

  <% if @parent_object&.redirect_to.present? %>
    <dt>Redirected To:</dt>
    <dd><%= @parent_object&.redirect_to %></dd>
  <% end %>

  <dt>Authoritative Metadata source:</dt>
  <dd><%= @parent_object.authoritative_metadata_source.display_name %></dd>

  <% if can? :update, @parent_object %>
      <dt>Update Metadata for this Object from the Authoritative Metadata Source:</dt>
      <dd>
        <%= link_to 'Update this item', update_metadata_parent_object_path(@parent_object), method: :post, class: 'btn button update-item-button' %>
      </dd>
  <% end %>

  <% if @parent_object&.metadata_cloud_url.present? %>
    <dt>MetadataCloud url:</dt>
    <dd><%= link_to "#{@parent_object.metadata_cloud_url}", "#{@parent_object.metadata_cloud_url}" %></dd>
  <% end %>

  <dt>Call Number:</dt>
  <dd><%= @parent_object.call_number %></dd>

  <dt>Container Grouping:</dt>
  <dd><%= @parent_object.container_grouping %></dd>

  <dt>Bib:</dt>
  <dd><%= @parent_object.bib %></dd>

  <dt>Holding:</dt>
  <dd><%= @parent_object.holding %></dd>

  <dt>Item:</dt>
  <dd><%= @parent_object.item %></dd>

  <dt>Barcode:</dt>
  <dd><%= @parent_object.barcode %></dd>

  <dt>Aspace uri:</dt>
  <dd><%= @parent_object.aspace_uri %></dd>

  <dt>Digital Object Source:</dt>
  <dd><%= @parent_object.digital_object_source %></dd>

  <dt>Preservica URI:</dt>
  <dd><%= @parent_object.preservica_uri %></dd>

  <dt>Preservica Representation Type:</dt>
  <dd><%= @parent_object.preservica_representation_type %></dd>
  
  <% if @parent_object.digital_object_source == 'Preservica' %>
    <dt>Update from Preservica:</dt>
    <dd><%= link_to 'Synchronize child objects', sync_from_preservica_parent_object_path(@parent_object), method: :post, class: 'btn button update-item-button'%></dd>
  <% end %>

  <dt>Last Ladybird Update:</dt>
  <dd><%= @parent_object.last_ladybird_update %></dd>

  <dt>Last Voyager Update:</dt>
  <dd><%= @parent_object.last_voyager_update %></dd>

  <dt>Last Aspace Update:</dt>
  <dd><%= @parent_object.last_aspace_update %></dd>

  <dt></dt>
  <dd><%= link_to('View version history', parent_object_versions_path(@parent_object, :checked => 'true')) %></dd>

  <dt>Visibility:</dt>
  <dd><%= @parent_object.visibility %></dd>

  <dt>Rights Statement:</dt>
  <dd><%= sanitize @parent_object.rights_statement, tags: %w(a), attributes: %w(href) %></dd>

  <dt>Extent of Digitization:</dt>
  <dd><%= @parent_object.extent_of_digitization %></dd>

  <dt>Digitization Note:</dt>
  <dd><%= @parent_object.digitization_note %></dd>

  <dt>Viewing Direction:</dt>
  <dd><%= @parent_object.viewing_direction %></dd>

  <dt>Full Text Available:</dt>
  <dd><%= @parent_object.extent_of_full_text %></dd>

  <dt>Display Layout / Viewing Hint:</dt>
  <dd><%= @parent_object.display_layout %></dd>

  <dt>Child Count:</dt>
  <dd><%= @parent_object.child_object_ids.count %></dd>

  <div class="child-objects">
    <dt>Children:</dt>
    <dd class="child-list">
      <ol class="child-list-ol">
        <% @parent_object.child_objects.map do |child| %>
          <p><li><%= link_to( "#{child.label || 'no label'} / #{child.caption || 'no caption'} (#{child.width}, #{child.height})", "#{child_objects_path}/#{child.oid}") %></li></p>
        <% end %>
      </ol>
    </dd>
  </div>

  <% if @parent_object.representative_child %>
    <dt class="represent-thumb">Representative thumbnail:</dt>
    <dd><%= image_tag @parent_object.representative_child.thumbnail_url %></dd>
  <% end %>
  
   <dt><%= link_to("Select different representative thumbnail", select_thumbnail_parent_object_path) %><br><br></dt>

</dl>

<p class='show-header'>
  <strong>Authoritative JSON:</strong>
  <%= render 'authoritative_json', parent_object: @parent_object %>
</p>

<p class='show-header'>
  <strong>Solr Record:</strong>
  <%= render 'solr_document', parent_object: @parent_object %>
</p>

<% if can? :destroy, @parent_object %>
  <div class='delete-item-container'>
    <div>
      <p class='delete-item-label'>Delete this Item</p>
      <p>Permanently delete this item and its children.</p>
    </div>
    <div>
      <%= link_to 'Delete this item', parent_object_path(@parent_object), method: :delete, data: { confirm: 'Are you sure you want to delete this item and its children?' }, class: 'btn button delete-item-button' %>
    </div>
  </div>
<% end %>
<% if can? :edit, @parent_object %>
  <%= link_to 'Edit', edit_parent_object_path(@parent_object) %> |
<% end %>
<%= link_to 'Solr Document', solr_document_parent_object_path("#{@parent_object.oid}"), target: '_blank' %> |
<%= link_to 'Public View', @parent_object.dl_show_url, target: '_blank' %> |
<%= link_to 'Back', parent_objects_path %>
