<%= render partial: '/management/flash_messages' %>
<div class='row datatable-heading'>
  <div class='col'>
    <h1>Reoccurring Jobs</h1>
  </div>
  <div class='col'>
    <div class='float-right button-list'>
      <%= button_to 'Trigger Job Manually', reoccurring_jobs_path, method: 'post', class: 'btn button secondary-button', data: {confirm: 'Are you sure you start a manual update outside of the regular schedule?'} %>
      <%  if @check_status %>
        <% if !@scheduled_job_exists %>
          <%= button_to 'Queue the Recurring Job', reoccurring_jobs_path(queue_recurring: 'true'), method: 'post', class: 'btn button secondary-button' %>
        <% end %>
      <% else %>
        <%= link_to 'Check status of the Recurring Job', reoccurring_jobs_path(check_status:'true'), method: 'get', class: 'btn button secondary-button' %>
      <% end %>
    </div>
  </div>
</div>
<div class='reoccurring-notice'>
  <%  if @check_status %>
    <p>
      <% if @scheduled_job_exists %>
        A reoccurring job is set to update metadata from Aspace and Voyager at 1:00am EST
      <% else %>
        <p>The recurring job is <strong>NOT</strong> queued</p>
      <% end %>
    </p>
  <%  end %>
</div><br />
<div class='row datatable'>
  <div class='col overflow-auto'>
    <table id='reoccurring-job-datatable' class='is-datatable table table-responsive table-bordered table-striped' data-source='<%= reoccurring_jobs_path(format: :json) %>' data-refresh="true" >
      <thead class='table-head'>
        <tr>
          <th scope='col'>Process ID</th>
          <th scope='col'>Run Time</th>
          <th scope='col'>Items</th>
          <th scope='col'>Status</th>
          <th scope='col'>Created</th>
          <th scope='col'>Updated</th>
          <th scope='col'>Retrieved Records</th>
        </tr>
      </thead>
      <tbody class='datatable-body'>
      </tbody>
    </table>
  </div>
</div>

<div id='reoccurring-job-data' class='d-none datatable-data'>
  <%= ReoccurringJobDatatable.new(nil).view_columns.map {|key, value| {data: key, orderable: value[:orderable], searchable: value[:searchable], options: value[:options]} }.to_json %>
</div>
