<%= render partial: '/management/flash_messages' %>
<div class='row datatable-heading'>
  <div class='col'>
    <h1>Batch Processes</h1>
    <%= render 'form' %>
  </div>
  <div class='col'>
    <div class='float-right button-list'>
      <%= button_to 'Start Goobi Scan', trigger_mets_scan_batch_processes_path, method: 'post', class: 'btn button secondary-button', data:{confirm: 'Are you sure you start a Goobi Scan?'}, disabled: !(can? :trigger_mets_scan, ParentObject) %>
    </div>
  </div>
</div>

<div class='row datatable'>
  <div class='col overflow-auto'>
    <table id='batch-processes-datatable' class='is-datatable table table-responsive table-bordered table-striped' data-source='<%= batch_processes_path(format: :json) %>'>
      <thead class='table-head'>
        <tr>
          <th scope='col'>Process Id</th>
          <th scope='col'>User</th>
          <th scope='col'>Time</th>
          <th scope='col'>Size</th>
          <th scope='col'>Status</th>
          <th scope='col'>Messages</th>
          <th scope='col'>Batch Action</th>
        </tr>
      </thead>
      <tbody class='datatable-body'>
      </tbody>
    </table>
  </div>
</div>

<div id='batch-processes-data' class='d-none datatable-data'>
  <%= BatchProcessDatatable.new(nil).view_columns.map {|key, value| {data: key, orderable: value[:orderable], searchable: value[:searchable], options: value[:options]} }.to_json %>
</div>
