<div class="container">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <h1>Batch Processes</h1>
  <%= render "form" %>

<h1>BatchProcess#index</h1>
<div class="container">
  <h3> Batch Process </h3>
  <table class="table table-bordered table-responsive table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col"> Process Id </th>
        <th scope="col"> User </th>
        <th scope="col"> Time </th>
        <th scope="col"> Items </th>
        <th scope="col"> Status </th>
      </tr>
    </thead>
      <% counter = 0 %>
      <% @batch_processes.each do |batch_process| %>
        <tr>
          <td><%= batch_process.id %>
          <td><%= batch_process.user.uid %>
          <td><%= batch_process.created_at %>
      </tr>
      <% end %>
  </table>
</div>
