<% if notice %>
  <p id='notice'><%= notice %></p>
<% end %>
<div class='row batch-process-heading'>
  <div class='col'>
    <h1><%= "Batch Process #{@batch_process.id}" %></h1>
  </div>
</div>

<div class='batch-process-details'>
  <p>
    <strong>BatchID:</strong>
    <%= @batch_process.id %>
  </p>
  <p>
    <strong>User:</strong>
    <%= @batch_process.user.uid %>
  </p>
  <p>
    <strong>Status:</strong>
    <%=@batch_process.batch_status %>
  </p>
  <p>
    <strong>Submitted:</strong>
    <%= @batch_process.created_at %>
  </p>
</div>
<div class='batch-process-details'>
  <p>
    <strong>Manifest:</strong>
    <%= @batch_process.file_name ? link_to(@batch_process.file_name, download_batch_process_path) : 'n/a' %>
  </p>
</div>
<div class='batch-process-details'>
  <p>
    <strong>Created file:</strong>
    <% if @batch_process.batch_action == 'export all parent objects by admin set' %>
      <%= @batch_process.file_name && @batch_process.batch_action == 'export all parent objects by admin set' ? link_to(@batch_process.created_file_name, download_created_batch_process_path) : 'n/a' %>
    <% else %>
      <%= @batch_process.file_name && @batch_process.batch_action == 'export child oids' ? link_to 'Click to Download', CsvExport.presigned_url(@batch_process.child_csv_url, 600) : 'n/a' %>
    <% end %>
  </p>
</div>

<% if @batch_process.batch_ingest_events.present? %>
  <div class='row batch-process-subheading'>
    <div class='col'>
      <h1>Batch Messages:</h1>
    <div>
  </div>
  <table class='table table-bordered table-responsive table-striped'>
    <thead class='table-head'>
      <tr>
        <th scope='col'> Time </th>
        <th scope='col'> Status </th>
        <th scope='col'> Problem </th>
      </tr>
    </thead>
    <tbody class='datatable-body'>
      <% @batch_process.batch_ingest_events.each do |event| %>
        <tr><td><%= event.updated_at %></td><td><%= event.status %></td><td><%= event.reason %></td></tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class='row'>
  <div class='col overflow-auto'>
    <div class='row batch-process-subheading'>
      <div class='col'>
        <h1>Batch Parent Objects:</h1>
      </div>
    </div>
    <table id='batch-process-datatable' class='is-datatable table table-responsive table-bordered table-striped' data-source='<%= batch_process_path(format: :json) %>'>
      <thead class='table-head'>
        <tr>
          <th scope='col'> Parent OID </th>
          <th scope='col'> Time </th>
          <th scope='col'> Children </th>
          <th scope='col'> Status </th>
        </tr>
      </thead>
      <tbody class='datatable-body'>
      </tbody>
    </table>
  </div>
</div>

<div id='batch-process-data' class='d-none datatable-data'>
  <%= BatchProcessDetailDatatable.new(nil).view_columns.map {|key, value| {data: key, orderable: value[:orderable], options: value[:options]} }.to_json %>
</div>

<%= link_to 'Back', batch_processes_path, class: 'page-actions' %>
