<p id="notice"><%= notice %></p>
<p>
  <strong>Batch Process ID</strong>
  <%= @batch_process.id %>
</p>
<p>
  <strong>User ID</strong>
  <%= @batch_process.user.uid %>
</p>
<p>
  <strong>File</strong>
  <%= link_to @batch_process.file_name, download_batch_process_path %>
</p>
<p>
  <strong>Submission Time</strong>
  <%= @batch_process.created_at %>
</p>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col"> Parent Oid </th>
      <th scope="col"> Children </th>
    </tr>
  </thead>
    <% @batch_process.oids.each do |parent_oid| %>
      <% parent_object = ParentObject.find_by_oid(parent_oid) %>
      <tr>
        <td class="parent_oid" ><%= link_to_unless(parent_object.nil?, parent_oid, show_parent_batch_process_path(id: @batch_process.id, oid: parent_oid)) %></td>
        <td class="child_count"><%= parent_object&.child_object_count || "(deleted)" %></td>
      </tr>
    <% end %>
</table>
