<h1>Parent Batch Process Detail</h1>
<p id='notice'><%= notice %></p>
<div class='batch-process-show-details'>
  <p>
    <strong>Batch Process ID</strong>
    <%= link_to @batch_process.id, batch_process_path(@batch_process) %>
  </p>
  <p>
    <strong>Parent Object</strong>
    <%= @parent_object.present? ? link_to("#{@parent_object.id} (current record)", parent_object_path(@parent_object)) : "#{params[:oid]} (pending or deleted)" %>
  </p>
  <p>
    <strong>Status</strong>
    <%= @parent_object.present? ? "#{@parent_object.status_for_batch_process(@batch_process.id)}" : "#{params[:oid]} deleted" %>
  </p>
  <p>
    <strong>Submitted</strong>
    <%= @batch_process&.created_at %>
  </p>
</div>
<div class='batch-process-show-details'>
  <p>
    <strong>Metadata Fetched</strong>
    <%= @notes['metadata-fetched'] if @notes %>
  </p>
  <p>
    <strong>Manifest Built</strong>
    <%= @notes['manifest-saved'] if @notes %>
  </p>
  <p>
    <strong>Metadata Indexed</strong>
    <%= @notes['solr-indexed'] if @notes %>
  </p>
</div>

<div class='row'>
  <div class='col overflow-auto'>
    <table id='parent-batch-process-datatable' class='is-datatable table table-responsive table-bordered table-striped' data-source='<%= show_parent_batch_process_path(format: :json) %>'>
      <thead class='thead-dark'>
        <tr>
          <th scope='col'> Child OID </th>
          <th scope='col'> Time </th>
          <th scope='col'> Status </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<div id='parent-batch-process-data' class='d-none datatable-data'>
  <%= BatchProcessParentDatatable.new(nil).view_columns.keys.map {|key| {data: key} }.to_json %>
</div>

<%= link_to 'Back', batch_process_path %>
