<% if notice %>
  <p id='notice'><%= notice %></p>
<% end %>
<div class='row batch-process-heading'>
  <div class='col'>
    <h1>Parent Batch Process Detail</h1>
  </div>
</div>

<div class='batch-process-details'>
  <p>
    <strong>Batch Process ID</strong>
    <%= link_to @batch_process.id, batch_process_path(@batch_process) %>
  </p>
  <p>
    <strong>Parent Object</strong>
    <%= @parent_object.present? ? link_to("#{@parent_object.id} (current record)", parent_object_path(@parent_object)) : "#{params[:oid]} (pending or deleted)" %>
  </p>
  <p>
    <strong>Status</strong>
    <%= @parent_object.present? ? "#{@parent_object.status_for_batch_process(@batch_process)}" : "#{params[:oid]} deleted" %>
  </p>
  <p>
    <strong>Duration</strong>
    <%= @parent_object.present? ? "#{@parent_object.duration_for_batch_process(@batch_process)}" : 'Pending' %>
  </p>
</div>

<div class='row batch-process-subheading'>
  <div class='col'>
    <table class='table table-responsive table-bordered table-striped'>
      <thead class='table-head'>
        <tr>
          <th scope='col'>Ingest step</th>
          <th scope='col'>Time</th>
        </tr>
      </thead>
      <tbody class='datatable-body'>
        <tr>
          <td>Submitted</td>
          <td class='submission_time'><%= @batch_process&.created_at %></td>
        </tr>
        <tr>
          <td>Processing Queued</td>
          <td class='processing_queued_time'><%= @notes && @notes['processing-queued'] ? @notes['processing-queued'] : 'Pending' %></td>
        </tr>
        <tr>
          <td>Metadata Fetched</td>
          <td class='metadata_fetched'><%= @notes && @notes['metadata-fetched'] ? @notes['metadata-fetched'] : 'Pending' %></td>
        </tr>
        <tr>
          <td>Child Records Created</td>
          <td class='children_created'><%= @notes && @notes['child-records-created'] ? @notes['child-records-created'] : 'Pending' %></td>
        </tr>
        <tr>
          <td>Manifest Saved</td>
          <td class='manifest_saved'><%= @notes && @notes['manifest-saved'] ? @notes['manifest-saved'] : 'Pending' %></td>
        </tr>
        <tr>
          <td>Solr Indexed</td>
          <td class='solr_indexed'><%= @notes && @notes['solr-indexed'] ? @notes['solr-indexed'] : 'Pending' %></td>
        </tr>
        <tr>
          <td>PDF Generated</td>
          <td class='pdf-generated'><%= @notes && @notes['pdf-generated'] ? @notes['pdf-generated'] : 'Pending' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if @latest_failure %>
<table class='table table-responsive table-bordered table-striped'>
  <thead class='table-head'>
    <tr>
      <th scope='col'>Last Failure Message</th>
      <th scope='col'>Time</th>
    </tr>
  </thead>
  <tbody class='datatable-body'>
    <tr>
      <td class='reason'><%= @latest_failure[:reason] %></td>
      <td class='time'><%= @latest_failure[:time] %></td>
    </tr>
  </tbody>
</table>
<% end %>

<div class='row batch-process-subheading'>
  <div class='col'>
    <table id='parent-batch-process-datatable' class='is-datatable table table-responsive table-bordered table-striped' data-source='<%= show_parent_batch_process_path(format: :json) %>'>
      <thead class='table-head'>
        <tr>
          <th scope='col'>Child OID</th>
          <th scope='col'>Time</th>
          <th scope='col'>Status</th>
        </tr>
      </thead>
      <tbody class='datatable-body'>
      </tbody>
    </table>
  </div>
</div>

<div id='parent-batch-process-data' class='d-none datatable-data'>
  <%= BatchProcessParentDatatable.new(nil).view_columns.map {|key, value| {data: key, orderable: value[:orderable], options: value[:options]} }.to_json %>
</div>

<%= link_to 'Back', batch_process_path, class: 'page-actions' %>
