<p id="notice"><%= notice %></p>
<div class='row'>
  <div class='col'>
    <h1>Notifications</h1>
  </div>
</div>
<div class='col'>
  <div class='float-right'>
    <%= link_to 'Resolve All', resolve_all_notifications_path, method: 'delete', class: 'btn btn-primary' %>
  </div>
</div>
<div class='row'>
  <div class='col'>
    <table class="table table-responsive table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Status</th>
          <th scope="col">Parent Object</th>
          <th scope="col">Reason</th>
          <th scope="col">Read</th>
          <th scope="col">Created at</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @notifications.each do |notification| %>
          <% notice = notification.to_notification %>
          <tr>
            <td><%= notice.params[:status] %></td>
            <td>
              <%  if notice.parent_object %>
                <%= link_to(notice.parent_object.id, notice.parent_object) %>
              <% else %>
                <%= notice.params[:parent_object_id] %> (deleted)
              <% end %>
            </td>
            <td><%= notice.params[:reason] %></td>
            <td><%= notification.read? ? 'Read' : 'Unread' %></td>
            <td><%= notification.created_at %></td>
            <td class='actions'>
              <%= link_to 'Resolve', notification, method: :delete %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @notifications %>
  </div>
</div>
