<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <div class="field form-group">
      <%= form.label :provider %>
      <%= form.text_field(:provider, required: true, readonly: true, class: 'form-control') %>
    </div>
    <br>

    <div class="field form-group">
      <%= form.label :uid %>
      <%= form.text_field(:uid, required: true, readonly: @user.persisted?, class: 'form-control') %>
    </div>
    <br>


    <div class="field form-group">
      <%= form.label :first_name %>
      <%= form.text_field(:first_name, required: true, class: 'form-control') %>
    </div>
    <br>

    <div class="field form-group">
      <%= form.label :last_name %>
      <%= form.text_field(:last_name, required: true, class: 'form-control') %>
    </div>
    <br>

    <div class="field form-group">
      <%= form.label :email %>
      <%= form.text_field(:email, required: true, class: 'form-control') %>
    </div>
    <br>

    <div class="field form-group">
      <%= form.label :deactivated %>
      <%= form.check_box(:deactivated)%>
    </div>
  </div>
  <br>

  <br>
  <div class="actions">
    <%= form.submit(@user.persisted? ? "Update User" : "Create User", class: "btn-primary btn") %>
  </div>
<% end %>
