<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row">
    <div class="col-med-3">
      <%= form.label :email %>
      <%= form.text_field(:email, disabled: false) %>
    </div>

    <div class="col-med-3">
      <%= form.label :deactivated %>
      <%= form.check_box(:deactivated) %>
    </div>
  </div>
  <br>

  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
