<h1>User Details</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>UID:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Name:</strong>
  <%= "#{@user.first_name} #{@user.last_name}" %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>System admin:</strong>
  <%= @user.sysadmin %>
</p>

<p>
  <strong>Deactivated:</strong>
  <%= @user.deactivated %>
</p>

<table class='table table-striped user-roles-table table-bordered' aria-label='User Details'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'> Admin Set </th>
      <th scope='col'> Role </th>
    </tr>
  </thead>
  <tbody>
    <% @user.roles.excluding(@user.roles.where(name: 'sysadmin')).each do |role| %>
      <tr>
        <td><%= link_to role.resource.label, admin_set_path(role.resource)  %></td>
        <td><%= role.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
