<%= form_tag(roles_path, :method => :post, class: 'admin-set-form' ) do %>
  <p>Add</p>
  <%= text_field_tag(:uid, "", required: true, class: 'form-control', placeholder: 'NetID') %>
  <p>as</p>
  <%= select_tag(:role, options_for_select(item == @admin_set ? ['viewer', 'editor'] : ['approver', 'administrator']), { :class => 'form-control', required: true }) %>
  <%= hidden_field_tag :item_class, item.class.to_s %>
  <%= hidden_field_tag :item_id, item.id %>
  <div class='actions'>
    <%= submit_tag 'Save', class: 'save-user-role-button btn-primary' %>
  </div>
<% end %>