
<div class="container service-container">
  <h3> Containers </h3>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col"> Name </th>
        <th scope="col"> Image Tag </th>
      </tr>
    </thead>
      <tr>
        <td> Management </td>
        <td> <%= ENV['MANAGEMENT_VERSION'].present? ? "yalelibraryit/dc-management:#{ENV['MANAGEMENT_VERSION']}" : ""  %></td>
      </tr>
      <tr>
        <td> DB </td>
        <td> <%= ENV['POSTGRES_VERSION'].present? ? "yalelibraryit/dc-postgres:#{ENV['POSTGRES_VERSION']}" : "postgres"  %></td>
      </tr>
      <tr>
        <td> Blacklight </td>
        <td> <%= ENV['BLACKLIGHT_VERSION'].present? ? "yalelibraryit/dc-blacklight:#{ENV['BLACKLIGHT_VERSION']}" : ""  %></td>
      </tr>
      <tr>
        <td> Solr </td>
        <td> <%= ENV['SOLR_VERSION'].present? ? "yalelibraryit/dc-solr:#{ENV['SOLR_VERSION']}" : "" %> </td>
      </tr>
      <tr>
        <td> iiif_image </td>
        <td> <%= ENV['IIIF_IMAGE_VERSION'].present? ? "yalelibraryit/dc-iiif-cantaloupe:#{ENV['IIIF_IMAGE_VERSION']}" : ""  %></td>
      </tr>
      <tr>
        <td> iiif_manifest </td>
        <td> <%= ENV['IIIF_MANIFEST_VERSION'].present? ? "yalelibraryit/dc-management:#{ENV['IIIF_MANIFEST_VERSION']}" : ""  %> </td>
      </tr>
  </table>
</div>
