<h1>Object Versions for OID <%= params[:parent_object_id] %><h1>

<table id='parent-object-versions-table' class='is-datatable table table-responsive table-bordered table-striped' aria-label='Parent Object Versions'>
  <thead class='table-head'>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Job or Event</th>
      <th>Job Status</th>
      <th>Job ID</th>
    </tr>
  </thead>
  <tbody>
  <% parent_object = ParentObject.find(params[:parent_object_id]) %>
  <% batch_connections = parent_object.batch_connections %>
  <% versions = parent_object.versions %>
  <% results = batch_connections + versions %>
  <% results.sort_by(&:created_at).reverse.map do |result| %>
    <tr>
      <td>
        <%= result.created_at %>
      </td>
      <td>
        <% if result.class == BatchConnection %>
          <% batch_process = BatchProcess.find(result.batch_process_id) %>
          <%= batch_process.user.first_name + ' ' + batch_process.user.last_name %>
        <% elsif result.whodunnit %>
          <% user = User.find(result.whodunnit) %>
          <%= user.first_name + ' ' + user.last_name %>
        <% else %>
          <%= result.whodunnit %>
        <% end %>
      </td>
      <td>
        <% if result.class == BatchConnection %>
          <%= batch_process.batch_action %>
        <% else %>
          <%= result.event %>
        <% end %>
      </td>
      <td>
        <% if result.class == BatchConnection %>
          <%= result.status %>
        <% else %>
          <p>Complete</p>
        <% end %>
      </td>
      <td>
        <% if result.class == BatchConnection %>
          <%= link_to(result.batch_process_id, batch_process_path(result.batch_process_id), target: '_blank') %>
        <% else %>
          <%= result.id %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
