<p id="notice"><%= notice %></p>

<h1>Metadata Samples</h1>

<table>
  <thead>
    <tr>
      <th>Metadata source</th>
      <th>Number of samples</th>
      <th>Seconds elapsed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metadata_samples.each do |metadata_sample| %>
      <tr>
        <td><%= metadata_sample.metadata_source %></td>
        <td><%= metadata_sample.number_of_samples %></td>
        <td><%= metadata_sample.seconds_elapsed %></td>
        <td><%= link_to 'Show', metadata_sample %></td>
        <td><%= link_to 'Edit', edit_metadata_sample_path(metadata_sample) %></td>
        <td><%= link_to 'Destroy', metadata_sample, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metadata Sample', new_metadata_sample_path %>
