<div id="ExportAllParents" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Export All Parents</h4>
        <button type="button" class="close_button btn btn-link" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body update-metadata-form">
        <%= form_with url: export_parent_sources_batch_processes_path do |form| %>
          <div class="form-group">
            <%= form.label(:metadata_source_ids, "Metadata Sources:") %>
            <%= link_to('Select All', "#", {class: 'select-all-btn', data: { target_select:'#metadata_source_ids'}}) %>
            <br />
            <%= form.select(:metadata_source_ids,
                            options_from_collection_for_select(MetadataSource.all,
                                                               :id, :display_name, []),
                            {},
                            {
                                class: 'select',
                                required: true,
                                multiple: true,
                                size: [MetadataSource.all.count,5].min}
                )
            %>
          </div>
          <div class="form-group">
            <%= form.submit("Export", {class: "btn btn-primary", data: {confirm: "Are you sure you want to update the metadata for these Admin Sets?"}}) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>