<%= render partial: "/management/flash_messages" %>

<div id="admin_set_button_row">
  <a href="#BatchUpdateMetadata" role="button" class="btn btn-large btn-secondary" data-toggle="modal">Batch Update Metadata</a>
  <%= button_to "Export Parent Objects", export_parent_objects_batch_processes_url(admin_set: @admin_set.key, admin_set_id: @admin_set.id), method: :post, class: "btn btn-large btn-secondary export_button" %>
</div>

<p>
  <strong>Key:</strong>
  <%= @admin_set.key %>
</p>

<p>
  <strong>Label:</strong>
  <%= @admin_set.label %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= link_to(@admin_set.homepage, @admin_set.homepage, {target: "_blank"}) %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @admin_set.summary %>
</p>

<%= render partial: "roles_tables" %>

<%= render partial: 'shared/add_role', locals: {item: @admin_set} %>


<p>
  <%= link_to 'Edit', edit_admin_set_path(@admin_set) %> |
  <%= link_to 'Back', admin_sets_path %>
</p>

<%= render partial: "update_metadata_dialog" %>