<%= render partial: "/management/flash_messages" %>
<p>
<a href="#BatchUpdateMetadata" role="button" class="btn btn-large btn-secondary" data-toggle="modal">Batch Update Metadata</a>
</p>

<p>
  <strong>Key:</strong>
  <%= @admin_set.key %>
</p>

<p>
  <strong>Label:</strong>
  <%= @admin_set.label %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= link_to(@admin_set.homepage, @admin_set.homepage, {target: "_blank"}) %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @admin_set.summary %>
</p>

<%= render partial: "roles_tables" %>

<%= render partial: 'shared/add_role', locals: {item: @admin_set} %>


<p>
  <%= link_to 'Edit', edit_admin_set_path(@admin_set) %> |
  <%= link_to 'Back', admin_sets_path %>
</p>

<div id="BatchUpdateMetadata" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Batch Update Metadata</h4>
        <button type="button" class="close_button btn btn-link" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <%= form_with url: all_metadata_parent_objects_path do |form| %>
          <div class="form-group update-metadata-form">
            <%= form.label(:admin_set, "Admin Sets:") %>
            <%= link_to('Select All', "#", {class: 'select-all-btn', data: { target_select:'#admin_set'}}) %>
            <br />
            <% available_admin_sets = current_ability.can?(:update_metadata, ParentObject) ? AdminSet.all : AdminSet.all.select {|as| current_ability.can?(:reindex_admin_set, as)} %>
            <%= form.select(:admin_set,
                            options_from_collection_for_select(available_admin_sets,
                :id, :label,[@admin_set&.id]),
                            {},
                            {
                            required: true,
                            multiple: true,
                            size: [available_admin_sets.count,5].min}
                )
            %>
          </div>
          <div class="form-group">
            <%= form.label(:metadata_source_ids, "Metadata Sources:") %>
            <%= link_to('Select All', "#", {class: 'select-all-btn', data: { target_select:'#metadata_source_ids'}}) %>
            <br />
            <%= form.select(:metadata_source_ids,
                            options_from_collection_for_select(MetadataSource.all,
                                                               :id, :display_name, []),
                            {},
                            {
                                class: 'select',
                                required: true,
                                multiple: true,
                                size: [MetadataSource.all.count,5].min}
                )
            %>
          </div>
          <div class="form-group">
            <%= form.submit("Update Metadata", {class: "btn btn-primary", data: {confirm: "Are you sure you want to update the metadata for these Admin Sets?"}}) %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <small>Updating metadata will refresh metadata from the authoritative metadata source.  You may select more than one metadata source and admin set.</small>
      </div>
    </div>
  </div>
</div>