<%= render partial: "/management/flash_messages" %>

<p>
  <strong>Key:</strong>
  <%= @admin_set.key %>
</p>

<p>
  <strong>Label:</strong>
  <%= @admin_set.label %>
</p>

<p>
  <strong>Homepage:</strong>
  <%= link_to(@admin_set.homepage, @admin_set.homepage, {target: "_blank"}) %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @admin_set.summary %>
</p>

<%= render partial: "roles_tables" %>

<%= form_for(@admin_set, :url => { :controller => 'admin_sets', :action => 'set_user_role' }, html: { :method => :put, class: 'admin-set-form' }) do |form| %>
  <%= form.label 'Add NetID' %>
  <%= form.text_field(:uid, required: true, class: 'form-control') %>
  <%= form.label 'in role' %>
  <%= form.select(:role, ['viewer', 'editor'], { :class => 'form-control', required: true }) %>
  <div class='actions'>
    <%= form.submit %>
  </div>
<% end %>

<p>
  <%= link_to 'Edit', edit_admin_set_path(@admin_set) %> |
  <%= link_to 'Back', admin_sets_path %>
</p>
