<%= render partial: "/management/flash_messages" %>
<h1>Permission Request</h1>
<%= form_with(model: [:open_with_permission, @permission_request], url: permission_request_path(@permission_request), local: true) do |form| %>
  <div id='permission-requests-show'>
    <table class='metadata-block'>
      <tbody>
        <tr class='requests-table-row'>
          <td class="key">Request ID:</td>
          <td><%= @permission_request.id %></td>
        </tr>
        <tr class='requests-table-row'>
          <td class="key">Permission Set Label:</td>
          <td><%= @permission_request.permission_set.label %></td>
        </tr>
        <tr class='requests-table-row'>
          <td class="key">Request Date:</td>
          <td><%= @permission_request.created_at %></td>
        </tr>
        <tr class='requests-table-row'>
          <td class="key">OID:</td>
          <td><%= @permission_request.parent_object.oid %></td>
        </tr>
        <tr class='requests-table-row'>
          <td class="key">User Name:</td>
          <td><%= @permission_request.permission_request_user.name %></td>
        </tr>
        <tr class='requests-table-row'>
          <td class="key">User ID:</td>
          <td><%= @permission_request.permission_request_user.sub %></td>
        </tr>
        <tr class='requests-table-row'>
          <td class="key">User Note:</td>
          <td><%= @permission_request.user_note %></td>
        </tr>
        <tr class='requests-table-row'>
          <td class="key">Request Status:</td>
          <td><%= @permission_request.request_status %></td>
        </tr>
        <tr class='requests-table-row'>
          <td class="key">Approver:</td>
          <td><%= "#{@permission_request.user&.first_name} #{@permission_request.user&.last_name}" %></td>
        </tr>
        <tr class='requests-table-row'>
          <td class="key">Approver Note:</td>
          <td><%= form.text_area :approver_note %></td>
        </tr>
        <tr class='requests-table-row'>
          <td class="key">Action:</td>
          <td>
            <%= form.radio_button :request_status, "true", class: 'request-true' %>Approve
            <%= form.radio_button :request_status, "false", class: 'request-false' %>Deny
          </td>     
        </tr>
        <tr class='requests-table-row'>
          <td class="key">Allow Access Until:</td>
          <td><%= form.date_field :access_until, min: 0.days.ago %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class='permission-request-buttons'>
    <%= link_to 'Cancel', permission_requests_path, class: "btn button secondary-button" %>
    <%= form.submit("Save", {class: "btn btn-primary"}) %>
  </div>
<% end %>