<%= render partial: "/management/flash_messages" %>
<div class="bottom-spacer">

  <p>
    <strong>Key:</strong>
    <%= @permission_set.key %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= @permission_set.label %>
  </p>

  <p>
    <strong>Max Request Queue Length:</strong>
    <%= @permission_set.max_queue_length %>
  </p>

  <p class="permission-set-terms">
    <strong>Terms and Conditions:</strong>
    <% if @permission_set.active_permission_set_terms %>
      <%= @permission_set.active_permission_set_terms&.title %>
      [<%= @permission_set.active_permission_set_terms&.activated_at %>]
    <% else %>
      None
    <% end %>
    <% if current_ability.can?(:update, @permission_set) %>
      <%= link_to 'Manage Terms and Conditions', permission_set_terms_permission_set_url(@permission_set), class: "float-right" %>
    <% end %>
  </p>

</div>

<table class='table table-striped permission-set-show-table' aria-label='Approvers Permission Set'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'> Approvers </th>
    </tr>
  </thead>
  <tbody>
    <% User.with_role(:approver, @permission_set).order('last_name ASC').each do |user| %>
      <tr>
        <td class='user-role'><%= "#{user.last_name}, #{user.first_name} (#{user.uid})" %><%= link_to 'X', remove_roles_path(uid: user.uid, item_class: 'PermissionSet', item_id: @permission_set.id, role: :approver), method: :delete unless current_user.has_role?(:approver, @permission_set)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class='table table-striped permission-set-show-table' aria-label='Administrators Permission Set'>
  <thead class='thead-dark'>
    <tr>
      <th scope='col'> Administrators </th>
    </tr>
  </thead>
  <tbody>
    <% User.with_role(:administrator, @permission_set).order('last_name ASC').each do |user| %>
        <tr>
          <td class='user-role'><%= "#{user.last_name}, #{user.first_name} (#{user.uid})" %><%= link_to 'X', remove_roles_path(uid: user.uid, item_class: 'PermissionSet', item_id: @permission_set.id, role: :administrator), method: :delete unless current_user.has_role?(:approver, @permission_set)%></td>
        </tr>
    <% end %>
  </tbody>
</table>

<% if can? :edit, @permission_set %>
  <%= render partial: 'shared/add_role', locals: {item: @permission_set} %>
<% end %>

<br />
<% if can? :edit, @permission_set %>
  <%= link_to 'Edit', edit_permission_set_path(@permission_set) %> |
<% end %>
<%= link_to 'Back', permission_sets_path %>