<p>
  <h2>Terms and Conditions for <%= @permission_set.label %></h2>
</p>
<p>
  <h3>Versions</h3>
</p>
<p class="active-version">
  <b>Active Version: </b> <%= @permission_set.active_permission_set_terms&.activated_at || "None" %>
</p>
<table class='table table-striped permission-set-terms-index-table' aria-label='Label Permission Set'>
  <thead class='thead-dark'>
  <tr>
    <th scope='col'> Version </th>
    <th scope='col'> Inactivated </th>
    <th scope='col'> Created By </th>
    <th scope='col'> Actions </th>
  </tr>
  </thead>
  <tbody>
  <% @permission_set.permission_set_terms.sort_by(&:activated_at).reverse.each do |permission_set_term| %>
  <tr class="<%= permission_set_term.inactivated_at ? 'not-active' : 'active' %>">
    <td><%= permission_set_term.activated_at %></td>
    <td><%= permission_set_term.inactivated_at || 'ACTIVE' %></td>
    <td><%= permission_set_term.activated_by&.full_name || "None" %></td>
    <td><%= link_to "View", "permission_set_terms/#{permission_set_term.id}" %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<div class="permission-set-actions">
<h3>Actions</h3>
<div class="row">
  <div class="col btn-width"><%= button_to "Create", 'new_term', method: :get, class: "btn btn-large btn-secondary" %></div>
  <div class="col">Create a new version. The new version will become active and all users of content in this Permission Set will be required to agree to the new Terms and Conditions</div>
</div>
<% if @permission_set.active_permission_set_terms %>
<div class="row">
  <div class="col btn-width"><%= button_to "Remove", "/", method: :get, class: "btn btn-large btn-secondary" %></div>
  <div class="col">Remove the requirement for users to agree to the Terms and Conditions when accessing content in this Permission Set.</div>
</div>
<% end %>
</div>