<div class="bg-light border-right sidebar_yale" id="sidebar-wrapper">
  <div class="flex-column list-group list-group-flush">
    <%= link_to 'Dashboard', root_path, class: 'list-group-item list-group-item-action bg-light top-menu-item' %>
    <% if can? :manage, User %>
      <%= link_to 'Users', users_path, class: 'list-group-item list-group-item-action bg-light' %>
    <% end  %>
    <% if can? :crud, AdminSet %>
      <%= link_to 'Sets', admin_sets_path, class: 'list-group-item list-group-item-action bg-light' %>
    <% end  %>
    <%= link_to 'Parent Objects', parent_objects_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Child Objects', child_objects_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Batch Process', batch_processes_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Preservation', preservica_ingests_path, class: 'list-group-item list-group-item-action bg-light' %>
    <% if current_user&.sysadmin %>
      <%= link_to 'Delayed Job Dashboard', delayed_job_web_path, class: 'list-group-item list-group-item-action bg-light' %>
    <% end %>
    <% if current_user %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'list-group-item list-group-item-action bg-light sign-button' %>
    <% else %>
      <!-- In order to address CVE-2015-9284 https://github.com/advisories/GHSA-ww4x-rwq6-qpgf the
          Sign In link *must* use post method, not get -->
      <%= button_to 'Sign In', user_cas_omniauth_authorize_path, class: 'list-group-item list-group-item-action bg-light sign-button' %>
    <% end %>
  </div>
</div>
