<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Management</div>
  <div class="list-group list-group-flush">
    <%= link_to 'Dashboard', root_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Parent Objects', parent_objects_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Batch Process', batch_processes_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Metadata Samples', metadata_samples_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'METS Imports', mets_xml_imports_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Notifications', notifications_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'CSV Imports', oid_imports_path, class: 'list-group-item list-group-item-action bg-light' %>
    <%= link_to 'Delayed Job Dashboard', delayed_job_web_path, class: 'list-group-item list-group-item-action bg-light' %>
    <% if current_user %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'list-group-item list-group-item-action bg-light' %>
    <% else %>
      <%= link_to 'Sign In', user_cas_omniauth_authorize_path, class: 'list-group-item list-group-item-action bg-light' %>
    <% end %>
  </div>
</div>
