<!DOCTYPE html>
<html>
  <head>
    <title>YulDcManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# Commenting out below. See https://github.com/rails/webpacker/issues/2071#issuecomment-487417464 for context %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
