<!DOCTYPE html>
<html>
  <head>
    <title>YulDcManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# commenting out for now until we have actual CSS for webpacker to pack
    see https://github.com/rails/webpacker/issues/2071 for context
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
